.parent {
    height: 500px;
    width: 500px;
    background-color: aqua;
}


.child {
    height: 50%;
    width: 50%;
    background-color: brown;
    transition: transform 1s ease-in;
}

.parent:hover .child{
    transform: translateX(100%);
    animation: rose 1s ease-in forwards 3 alternate;
}

@keyframes rose {
    0%{ 
        background-color: red;
        transform: translateX(0);
    }
    33%{
        transform: translateY(100%);
    }

    66%{
        transform: translateY(100%) translateX(100%);
    }
100%{
    background-color: green;
    transform: translateX(100%);
}
}